
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  /*System fonts*/
  font-family: 'Muli', sans-serif;
  color: rgba(0, 0, 0, 0.8);

  
  box-sizing: border-box;
  margin: 0; 
  height: 100%;

  display: flex;
  flex-direction: column;
}

/*****Text styles*****/
/*Headings*/
h1 {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
}

/*Icons*/
.fas, .fa {
  margin-right: 10px;
}

/*Clickable*/
a {
  color: #88115b;
  text-decoration: none;

  transition: color 0.2s ease-in-out;
}

a:hover, 
a:focus, 
a:active {
  color: #88115b;
}

button,
.btn-info {
  display: inline-block;
  padding: 5px 15px;
  margin: 0.5em 0.5em 0 0.5em;


}

.back-button:hover, 
.back-button:focus, 
.back-button:active,
button:hover, 
button:focus, 
button:active{
  background-color: #88115b;
  color: white;
}

.btn-info {
  margin-left: 0;
}

/*****Hidden*****/
.hidden {
  display: none;
}

/*****Nav*****/
nav {
  padding: 15px;
  border-bottom: 1px solid #CECECE;
}

/*****Sections*****/
main {
  display: flex;
  flex-direction: column;

  width: 80%;
  margin: auto;
  height: 75%;
  box-sizing: border-box;
  padding: 20px 0;
}

/*****Start*****/
#start {
  text-align: center;
}

/*****Quiz-questions*****/
#question {
  font-size: 1.4em;
}

#timer, 
.choice-status {
  text-align: center;
}

#timer {
  border-bottom: 1px solid #CECECE;
  padding-bottom: 15px;

  font-size: 1.35em;
  font-weight: bold;
}

#time-remaining{
  color: #88115b;
}

#choices {
  list-style: none;
  padding-left: 0;
}

#choicesButton {
  margin-left: 0;
}

.choice-status {
  font-size: 1.35em;
  font-weight: bold;
}

#correct {
 color:  #88115b;
}

#wrong {
  color: #E81648;
}

/*gray line before choice status*/
#quizQuestions, 
#end {
  border-bottom: 1px solid #CECECE;
  padding-bottom: 15px;
}

/*****End*****/
#scoredText {
  font-size: 1.2em;
}

#score {
  font-weight: bold;
  color: #88115b;
}

/*form*/
#submitScore {
  margin-bottom: 10px;
}

#submitScore label {
  display: block;
}

#initials {
  padding: 3px;
  font-size: 1em;

  border-radius: 4px;
  box-sizing: border-box;
}

.error {
  border: 1.5px solid red;
}

#errorMessage {
  color: red;
  margin-top: 5px;
}

/*****Highscores*****/
table {
  border-spacing: 0 0.5em;
}

tr:nth-child(even) {
  background-color: #EBEBEB;
}

td, th {
  padding: 10px;
}

th {
  border-bottom: 1px solid #CECECE;
}

td {
  text-align: center;
}

th:first-child,
td:first-child {
  text-align: left;
}

th:last-child,
td:last-child  {
  text-align: right;
}

#highscore-buttons {
  margin-bottom: 50px;
}

/*****Breakpoints*****/
@media only screen and (min-width: 992px) {
  main {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    width: 40%;
  }
}
